In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import os
import glob
from datetime import datetime

# Smoking

• Per-capita cigarette consumption (in packs). Source: Orzechowski and Walker (2005). These data are based on the total tax
paid on sales of packs of cigarettes in a particular state divided
by its total population.

• Average retail price per pack of cigarettes (in cents). Source:
Orzechowski and Walker (2005). Price figures include state sales
taxes, if applicable.

• Per-capita state personal income (logged). Source: Bureau of the
Census, United States Statistical Abstract. Converted to 1997 dollars using the Consumer Price Index.

• State population and percent of state population aged 15–24.
Source: U.S. Census Bureau.

• Per-capita beer consumption. Source: Beer Institute’s Brewer’s
Almanac. Measured as the per capita consumption of malt beverages (in gallons)

In [2]:
url = 'https://raw.githubusercontent.com/OscarEngelbrektson/SyntheticControlMethods/master/examples/datasets/smoking_data.csv'
df = pd.read_csv(url)
scaler = MinMaxScaler()
scaler.fit(df.iloc[:, 2:])
features = scaler.transform(df.iloc[:, 2:])
df.iloc[:, 2:] = features

In [3]:
n_state = len(df.state.unique()) #number of state IDs
n_time = len(df.year.unique()) #number of time steps
n_state, n_time

(39, 31)

In [4]:
# [state, year, feature value]
df = df.sort_values(by=['state', 'year'])
mask_df = np.array(df.isna())
df = df.fillna(0)

arr_smoking = df.values.reshape(n_state, n_time, df.shape[1])[:, :, 2:] #remove state and year from features
mask_smoking = mask_df.reshape(n_state, n_time, df.shape[1])[:, :, 2:] #remove state and year from features

np.save('smoking/data.npy', arr_smoking)
np.save('smoking/mask.npy', mask_smoking)

In [5]:
u, s, v = np.linalg.svd(arr_smoking.astype(float))
arr_smoking.shape, '', u.shape, s.shape, v.shape

((39, 31, 5), '', (39, 31, 31), (39, 5), (39, 5, 5))

# German Reunification 
- GDP per Capita (PPP, 2002 USD).
- Investment Rate: Ratio of real domestic investment (private plus public) to real GDP. The data are reported in five-year averages.
- Schooling: Percentage of secondary school attained in the total population aged 25 and older. The data are reported in five-year increments.
- Industry: industry share of value added.
- Inflation: annual percentage change in consumer prices (base year 1995).
- Trade Openness: Export plus imports as percentage of GDP.

In [6]:
url = 'https://raw.githubusercontent.com/OscarEngelbrektson/SyntheticControlMethods/master/examples/datasets/german_reunification.csv'
df = pd.read_csv(url)
scaler = MinMaxScaler()
scaler.fit(df.iloc[:, 3:])
features = scaler.transform(df.iloc[:, 3:])
df.iloc[:, 3:] = features

n_state = len(df.country.unique()) #number of units
n_time = len(df.year.unique()) #number of time steps
n_state, n_time

(17, 44)

In [7]:
# [state, year, feature value]
df = df.sort_values(by=['country', 'year'])
mask_df = np.array(df.isna())
df = df.fillna(0)

arr_german = df.values.reshape(n_state, n_time, df.shape[1])[:, :, 3:] #remove code, country, and year from features
mask_german = mask_df.reshape(n_state, n_time, df.shape[1])[:, :, 3:] #remove code, country, and year from features

np.save('germany/data.npy', arr_german)
np.save('germany/mask.npy', mask_german)

# Basque 
- Data on terrorist activity (deaths and kidnappings) are provided by the Spanish Ministry of Interior (2002). 
- Regional data on GDP, investment, population density, and sectoral production come from Fundacio´n BBV (1999). Data on human capital for different regions have been collected by Mas et al. (1998). 
- Oil prices come from the OECD statistical compendium CD-ROM. 
- Data on stock prices, firm size (market value of outstanding shares), book equity, and dividends are routinely collected by the Madrid Stock Exchange (www.bolsamadrid.es). 
- Interest rates on one-day public debt repurchase agreements and bonds come from the Bank of Spain.

In [8]:
url = 'https://raw.githubusercontent.com/OscarEngelbrektson/SyntheticControlMethods/master/examples/datasets/basque_data.csv'
df = pd.read_csv(url)
scaler = MinMaxScaler()
scaler.fit(df.iloc[:, 4:])
features = scaler.transform(df.iloc[:, 4:])
df.iloc[:, 4:] = features

n_state = len(df.regionname.unique()) #number of units
n_time = len(df.year.unique()) #number of time steps
n_state, n_time

(18, 43)

In [9]:
# [state, year, feature value]
df = df.sort_values(by=['regionname', 'year'])
mask_df = np.array(df.isna())
df = df.fillna(0)

arr_basque = df.values.reshape(n_state, n_time, df.shape[1])[:, :, 4:] #remove code, country, and year from features
mask_basque = mask_df.reshape(n_state, n_time, df.shape[1])[:, :, 4:] #remove code, country, and year from features

np.save('basque/data.npy', arr_basque)
np.save('basque/mask.npy', mask_basque)

# Retail
From https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting

In [10]:
features = pd.read_csv('retail/features.csv')
stores = pd.read_csv('retail/stores.csv')
#features.shape, stores.shape, len(np.unique(features.Store))
df = features.merge(stores, how='inner', on = "Store")

scaler = MinMaxScaler()
continuous_features = ['Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'Size']
discrete_features = ['IsHoliday', 'Type']
state = ['Store']
time = ['Date']
df = df[state + time + continuous_features + discrete_features] #state, time, continuous features, discrete features

scaler.fit(df.loc[:, df.columns.isin(continuous_features)])
features = scaler.transform(df.loc[:, df.columns.isin(continuous_features)])
df.loc[:, df.columns.isin(continuous_features)] = features

n_state = len(df.Store.unique()) #number of units
n_time = len(df.Date.unique()) #number of time steps
n_state, n_time

(45, 182)

In [11]:
# [state, year, feature value]
df = df.sort_values(by=['Store', 'Date'])
mask_df = np.array(df.isna())
df = df.fillna(0)

arr_retail = df.values.reshape(n_state, n_time, df.shape[1])[:, :, 2:] # remove store and date
mask_retail = mask_df.reshape(n_state, n_time, df.shape[1])[:, :, 2:] # remove store and date

np.save('retail/data.npy', arr_retail)
np.save('retail/mask.npy', mask_retail)

# Diabetes
From https://archive.ics.uci.edu/ml/datasets/diabetes

In [12]:
path = os.getcwd()
files = glob.glob(path+"\diabetes\data*")

li = []

patient_id = 1
for f in files:
    if f == path+"\diabetes\Data-Codes":
        break
    data = pd.read_csv(f, delimiter ='	', header = None, names=["date", "time", "code", "value"], engine='python')
    
    #cleaning
    data.loc[data.index[np.where(data['date'] == '06-31-1991')], 'date'] = '06-30-1991' #incorrect date
    data.loc[data.index[np.where(data['time'] == '56:35')], 'time'] = np.nan #incorrect time
    data.loc[data.index[np.where(data['time'] == '188:00')], 'time'] = np.nan #incorrect time

    ##remove values that can't be converted to floats
    for idx, row in data.iterrows():
        element = data.loc[idx,'value']
        try:
            float(element)
        except ValueError:
            data.at[idx,'value'] = np.nan
    
    data['id'] = patient_id
    li.append(data)
    patient_id += 1
        
        
df = pd.concat(li)
df['date'] = pd.to_datetime(df['date']).dt.date
df = df.drop(['time'], axis=1)

# pivot dataframe
df['value'] = df['value'].astype(float)
df = pd.pivot_table(df, index = ['id', 'date'], columns = 'code', values = 'value').reset_index()

date_range = pd.date_range(df.date.min(), df.date.max(), periods = (df.date.max()-df.date.min()).days+1, normalize = True)

li_final = []

for idx in df.id.unique():
    df_idx = df[df['id'] == idx]
    dic_list = []
    for date in date_range:
        if date not in df_idx.date.unique():
            dic = {'id': idx, 'date': date.date()}
            dic_list.append(dic)
            
    rows = pd.DataFrame.from_dict(dic_list)
    df_idx_ = df_idx.append(rows, ignore_index = True, sort = True)
    li_final.append(df_idx_)


df = pd.concat(li_final)
df.head(10)

,id,date,4,33,34,35,36,48,56,57,...,63,64,65,66,67,68,69,70,71,72
0,1,1991-04-21,NaN,8.000000,13.0,NaN,NaN,123.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1991-04-22,NaN,6.333333,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1991-04-23,NaN,9.000000,13.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1991-04-24,NaN,6.333333,14.0,NaN,NaN,340.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1991-04-25,NaN,5.500000,14.0,NaN,NaN,288.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,1991-04-26,NaN,7.000000,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,1991-04-27,NaN,9.000000,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,1991-04-28,NaN,8.500000,14.0,NaN,NaN,200.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,1991-04-29,NaN,7.333333,14.0,NaN,NaN,81.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,1991-04-30,NaN,7.000000,14.0,NaN,NaN,104.0,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
## scaler = MinMaxScaler()

continuous_features = df.columns[2:]
# no discrete features
state = ['id']
time = ['date']

scaler.fit(df.loc[:, df.columns.isin(continuous_features)])
features = scaler.transform(df.loc[:, df.columns.isin(continuous_features)])
df.loc[:, df.columns.isin(continuous_features)] = features

n_state = len(df.id.unique()) #number of units
n_time = len(df.date.unique()) #number of time steps
n_state, n_time

(70, 1276)

In [15]:
# [state, year, feature value]
df = df.sort_values(by=['id', 'date'])
mask_df = np.array(df.isna())
df = df.fillna(0)

arr_diab = df.values.reshape(n_state, n_time, df.shape[1])
mask_diab = mask_df.reshape(n_state, n_time, df.shape[1])

np.save('diabetes/data.npy', arr_diab)
np.save('diabetes/mask.npy', mask_diab)

(70, 1276, 25)